h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
	color: #111;
	height: 100vh;
}

.fab-container {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 999;
	cursor: pointer;
}

.fab-icon-holder {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	background: #111;
	box-shadow: 0 6px 20px rgba(177, 35, 35, 0.2);
}

.fab-icon-holder:hover{
	opacity: 0.8;
}

.fab-icon-holder i {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 25px;
	color: #ffffff;
}

.fab {
	width: 60px;
	height: 60px;
	background: #111;
}

.fab-options {
	list-style-type: none;
	margin: 0;
	position: absolute;
	bottom: 70px;
	right: 0;
	opacity: 0;
	transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: 85% bottom;
}

.fab:hover + .fab-options, .fab-options:hover {
	opacity: 1;
	transform: scale(1);
}

.fab-options li {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

.fab-label {
	padding: 2px 5px;
	align-self: center;
	user-select: none;
	white-space: nowrap;
	border-radius: 10px;
	font-size: 15px;
	background: #111;
	color: #ffffff;
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
	margin-right: 10px;
}

.buscar{
	position: relative;
    display: flex;
}

.buscar input{
	width: 150px;
	text-align: center;
	user-select: none;
	white-space: nowrap;
	padding: 2px 5px;
	font-size: 15px;
	color: rgb(255, 255, 255);
	border-radius: 40px;
	transition: all 0.6 ease;
	background: #111;
	margin-right: 10px;
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
	
}

.btn{
	position: absolute;
	top: 0;
	right: 0;
	background: #111;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	border-radius: 100%;
	cursor: pointer;
	align-items: center;
    justify-content: center;
}

.buscar:hover input{
	width: 150px;
}

.buscar input:focus{
	width: 150px;
}
	

